/* fonty */

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueBold.woff2') format('woff2'),
         url('fonts/HelveticaNeueBold.woff') format('woff'),
         url('fonts/HelveticaNeueBold.ttf') format('truetype'),
         url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('fonts/HelveticaNeueCondensedBold.eot');
    src: url('fonts/HelveticaNeueCondensedBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
         url('fonts/HelveticaNeueCondensedBold.woff') format('woff'),
         url('fonts/HelveticaNeueCondensedBold.ttf') format('truetype'),
         url('fonts/HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('fonts/HelveticaNeueLight.woff') format('woff'),
         url('fonts/HelveticaNeueLight.ttf') format('truetype'),
		 url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}

@font-face {
	font-family: 'HelveticaNowTextExtraBold';
	src: url('fonts/HelveticaNowTextExtraBold.eot');
	src: url('fonts/HelveticaNowTextExtraBold.eot') format('embedded-opentype'),
		 url('fonts/HelveticaNowTextExtraBold.woff2') format('woff2'),
		 url('fonts/HelveticaNowTextExtraBold.woff') format('woff'),
		 url('fonts/HelveticaNowTextExtraBold.ttf') format('truetype'),
		 url('fonts/HelveticaNowTextExtraBold.svg#HelveticaNowTextExtraBold') format('svg');
}

@font-face {
	font-family: 'HelveticaNowTextLight';
	src: url('fonts/HelveticaNowTextLight.eot');
	src: url('fonts/HelveticaNowTextLight.eot') format('embedded-opentype'),
		url('fonts/HelveticaNowTextLight.woff2') format('woff2'),
		url('fonts/HelveticaNowTextLight.woff') format('woff'),
		url('fonts/HelveticaNowTextLight.ttf') format('truetype'),
		url('fonts/HelveticaNowTextLight.svg#HelveticaNowTextLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNowTextBold';
    src: url('fonts/HelveticaNowTextBold.eot');
    src: url('fonts/HelveticaNowTextBold.eot') format('embedded-opentype'),
         url('fonts/HelveticaNowTextBold.woff2') format('woff2'),
         url('fonts/HelveticaNowTextBold.woff') format('woff'),
         url('fonts/HelveticaNowTextBold.ttf') format('truetype'),
         url('fonts/HelveticaNowTextBold.svg#HelveticaNowTextBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('fonts/HelveticaNeueUltraLight.eot');
    src: url('fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
				
/* fonty hotovo */


html	{
	background-color: #353535
}
.container {background-color: #272727;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'HelveticaNeueLight';
	font-size: 115%;
	margin-bottom: 0;
	color: white;
}


/* Prvni tretina */

.vrsek {
background-image: url(images/logo_transparent4.png), url(images/triangles.png), url(images/podklad_big.png);
	background-size: 23%, 9%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position-y: 0%, 59%, 0%;
	background-position-x: left, left, right;
	position: relative;
}

@media screen and (max-width: 1100px) {

	.vrsek {
		background-image: url(images/logo_transparent4.png), url(images/triangles.png), url(images/podklad_big.png);
			background-size: 23%, 9%, 100%;
			background-repeat: no-repeat, no-repeat, no-repeat;
			background-position-y: 0%, 25%, 0%;
			background-position-x: left, left, right;
			position: relative;
	}
}

.zahlavi {
	display: flex;
}

.navigace {
	flex: 5;
	list-style: none;
	margin-top: 49px;
	padding-left: 375px;

}

.navigace li {
	list-style: none;
	float: left;
}

.navigace a {
	padding: 0px 35px;
	font-weight: normal;
}

@media screen and (max-width: 1100px) {
	
	.zahlavi {
		display: block
	}

	.toggle-btn {
		text-align: right;
		padding-top: 20px;
		padding-right: 5%;
	}
	
	
	.navigace a {
		padding: 0px 0px;
		font-weight: normal;
		}

	.navigace li {
		list-style: none;
		float: none;
		text-align: right;
	}

	.navigace {
		list-style: none;
		margin-top: 0px;
		padding-right: 30px;
	}
}

/* toggle */

.toggle-btn {
	display: none;
}

@media screen and (max-width: 1100px) {

.toggle-btn-visible {
	display: block;
	}

.toggle-target-hidden {
	display: none;
	}

.toggle-target-expanded {
	display: block;
	}

}


.jazyky {
	padding-top: 49px;
	padding-right: 10%;
	text-align: right;
	flex: 1;
}
	
.jazyky img {
	max-width: 7%;
	max-height: 7%;
	padding-bottom: 4px;
}

@media screen and (max-width: 1100px) {
	.jazyky {
		padding-top: 0px;
		padding-right: 5%;	
		text-align: right;
		flex: none;}

	.jazyky img {
		max-width: 10px;
		max-height: 10px;
		padding-top: 4px;
	}
}


.fix {
	clear: both;
}

.sipka {
	padding-left: 50%;
	padding-top: 205px;
	max-width: 15%;
	max-height: 15%;
}

.sipka img {
	max-width: 15%;
	max-height: 15%;
}

.ii {
	line-height: 0.1;
	padding-top: 140px;
}

.innovation {
	font-family: 'HelveticaNeueUltraLight';
	padding-top: 100px;
	text-align: right;
	padding-right: 130px;
}

.innovation p {
	font-size: 450%;
	color: #45bde9;
}

.industry {
	font-family: 'HelveticaNowTextBold';
}

.industry p {
	font-weight: normal;
	font-size: 450%;
	text-align: right;
	padding-right: 190px;
}

img {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 1100px) {

	.mix {
	display: none;
	}
}

body {
	margin-top: 0
}

.vr1 {
    width: 1px;
	background-color:#3c3c3c;
	position: absolute;
    top: 40px;
	bottom: 400px;
	left:25%;
}

/* Druha tretina */

.nadpis {
	font-family: 'HelveticaNowTextExtraBold';
	font-size: 160%;
	line-height: 1;
}

.text {
	box-sizing: content-box;
	width: 820px;
	height: 300px;
	background: transparent;
	color: #FFFFFF;
	padding-left: 25%;
	padding-bottom: 70px;
	padding-right: 200px;
	margin-top: 100px;
	line-height: 1.7;
}

@media screen and (max-width: 1100px) {
	.text {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 300px;
		box-sizing: content-box;
		width: auto;
		height: auto;
	}
}

.navic {
	width: 1080px;
    height: 340px;
    box-sizing: content-box;
	background-image: url(images/podklad_HS.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right;
	margin-left: auto;
	margin-bottom: 1px;
}

.navic h3 {
	font-family: 'HelveticaNeueCondensedBold';
	color: #fff;
	font-size: 250%;
	padding-top: 65px;
	padding-left: 690px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;

}
.navic2 p {
	padding-top: 15px;
	padding-left: 460px;
	padding-right: 160px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

@media screen and (max-width: 1100px) {
	.navic {
		width: auto;
		height: auto;
		box-sizing: content-box;
		background-image: none;
		background-color:#4dbef7;
		margin-bottom: 1px;
	}

		.navic h3 {
		font-family: 'HelveticaNeueCondensedBold';
		color: #fff;
		font-size: 250%;
		padding-top: 20px;
		padding-left: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
		
	}

	.navic2 p {
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-bottom: 20px;
	}
}

.IObd {
	width: 972px;
    height: 340px;
	box-sizing: content-box;
	background-image: url(images/podklad_IOT.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right;
	margin-left: auto;
    margin-left: auto;
	margin-bottom: 1px;
	display: block;
}

.IObd h3 {
	font-family: 'HelveticaNeueCondensedBold';
	color: #fff;
	font-size: 250%;
	padding-top: 100px;
	padding-left: 75px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

.IObd p {
	padding-top: 15px;
	padding-left: 75px;
	padding-right: 430px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

@media screen and (max-width: 1100px) {
	.IObd {
		width: auto;
		height: auto;
		box-sizing: content-box;
		background-image: none;
		background-color: rgb(51, 115, 158);
		margin-left: auto;
		margin-bottom: 1px;
		display: block;
	}
	
	.IObd h3 {
		font-family: 'HelveticaNeueCondensedBold';
		color: #fff;
		font-size: 250%;
		padding-top: 20px;
		padding-left: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	
	.IObd p {
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
	}
}


.Ao {
	width: 1168px;
    height: 340px;
    box-sizing: content-box;
	background-image: url(images/banner_apps.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top right;
	margin-left: auto;
}

.Ao h3 {
	font-family: 'HelveticaNeueCondensedBold';
	color: #fff;
	font-size: 250%;
	padding-top: 70px;
	padding-left: 585px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

.Ao p {
	padding-top: 15px;
	padding-left: 520px;
	padding-right: 190px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

@media screen and (max-width: 1100px) {
	.Ao {
		width: auto;
		height: auto;
		box-sizing: content-box;
		background-image: none;
		background-color: rgb(26, 73, 134);
		margin-left: auto;
	}
	
	.Ao h3 {
		font-family: 'HelveticaNeueCondensedBold';
		color: #fff;
		font-size: 250%;
		padding-top: 20px;
		padding-left: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	
	.Ao p {
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

/* Treti tretina */

.spodek {
	background-image: url(images/end2.png), url(images/podklad_end.png);
	background-size:23%, 70%;
	background-repeat: no-repeat, no-repeat;
	background-position: bottom right, bottom left;
	padding-top: 60px;
	padding-bottom: 0px;
}

.sp2 {
	display: flex;
	position: relative;
}
.contacts {
	flex: 1;
	font-family: 'HelveticaNowTextBold';
	color: #FFFFFF;
	text-align: center;
	padding-left: 160px;
	font-size: 250%;
	padding-top: 55px;
}

.kontakty {
	flex: 1;
	flex-direction: column;
	padding-bottom: 400px;
	padding-top: 50px;
	padding-left: 90px;
}

.a {
	flex: 1;
	text-align: left;
	padding-top: 73px;
	padding-bottom: 8px;
}

.b {
	flex: 1;
	line-height: 0.7;
	margin-top: 0px;
}

.b a {
	color: #45bde9;
	font-weight: normal;
}

.c {
	flex: 1;
	line-height: 0.7;
	padding-top: 17px;
}

.vr {
    width: 1px;
	background-color:#3c3c3c;
	position:absolute;
    top: 40px;
	bottom: -40px;
	left: 76%;
}

@media screen and (max-width: 1100px) {
	.spodek {
		background-image: url(images/end2.png), url(images/podklad_end.png);
		background-size:23%, 70%;
		background-repeat: no-repeat, no-repeat;
		background-position: bottom right, bottom left;
		padding-top: 60px;
		padding-bottom: 0px;
	}

	.sp2 {
		display: grid;
	}

	.contacts {
		font-family: 'HelveticaNowTextBold';
		color: #FFFFFF;
		text-align: center;
		padding-left: 50px;
		font-size: 250%;
		padding-top: 10px;
	}
	
	.kontakty {
		text-align: center;
		display: flex;
		flex-direction: column;
		padding-bottom: 250px;
		padding-top: 0px;
		padding-left: 50px;
	}
	
	.a {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 8px;
	}
	
	.b {
		line-height: 0.7;
		margin-top: 0px;
	}
	
	.b a {
		color: #45bde9;
		font-weight: normal;
	}
	
	.c {
		line-height: 0.7;
		padding-top: 17px;
	}
	
	.vr {
		display: none;
		width: 1px;
		background-color:#3c3c3c;
		position:absolute;
		top: 40px;
		bottom: -40px;
		left: 76%;
	}
}

.zapati {
	font-size: 75%;
	padding-left: 40%;
	margin-bottom: 0;
	padding-bottom: 30px;

}